*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.font-size-large{
    font-size: large;
}

.font-size-x-large{
    font-size: x-large;
    padding-left: 1rem;
}

.font-size-med{
    font-size: medium;


}
.navbar-line{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.navbar{
    float: left;
}

.navbar-format{
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.orange-background{
    background-color: #BF7631;
}

.cara-cara-image-sizer{
    width: 50px;
    padding: 5px;
}

.magnifying-glass-sizer{
    width: 50px;
    padding: 5px;
}

.searchbar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.large-line{
    display: flex;
    height: 3px;
    width: 95%;
    margin: 20px;
    background-color: #000000;
}

.small-line{
    display: flex;
    height: 3px;
    width: 55%;
    margin: 10px;
    background-color: #000000;
}

.coverphoto-sizer{
    width: 100vh;
    height: 100%;
    padding: 5px;
}

.white-text{
    color: #ffffff;
}

.orange-text{
    color: #BF7631;
}

.orange-text:hover{
    cursor: pointer;
    color: #000000;
}

.coverphoto-rectangle{
    width: 100%;
    background-color:#000000
}

.logo-container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.coverphoto-container{
    display: flex;
    justify-content: center;
}

.about-us-image-2-sizer{
    width: 200px;
    padding: 4px;
    align-self: flex-end;
}

.about-us-image-1-sizer{
    width: 400px;
    height: 600px;
    padding: 4px;
}

.about-us-container{
    display: grid;
    gap: 10px;
    padding: 10px;
    justify-content: space-evenly;
  }

.about-us-grid{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.item-1{
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item-1-font-sizer{
    width: 60rem;
}

.item-2{
    grid-column: 3;
    grid-row: 1 / span 2;
}

.item-3{
    grid-column: 2;
    grid-row: 3;
}

.item-4{
    grid-column: 2;
    grid-row: 2;
}

.item-5{
    grid-column: 1 / span 3;
    grid-row: 3;
}

.about-us-inner-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-us-paragraph-sizer{
    width: 200px;
}

.product-image-sizer{
    height: 200px;
    width: 200px;
    padding: 4px;
}


.products{
    display: grid;
    grid-template-areas: 
    "top-l top top-r"
    "mid-l mid mid-r"
    "bot-l bot bot-r";
    justify-content: space-around;
    grid-gap: 5rem;
}

.product-paragraph{
    width: 12rem;
}

.product-container-1{
    display: flex;
}

.product-container-2{
    display: flex;
}

.product-container-3{
    display: flex;
}

.learn-more-button{
    width: 100px;
    padding: 0;
    border: none;
    background: none;
    align-self: self-start;
}

.contact-us-container{
    height: 300px;
    padding-left: 300px;
    padding-right: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.message-text-area{
    height: 100px;
}

.send-button-sizer{
    width: 50px;
    padding: 0;
    border: none;
    align-self: self-end;
}

.page-bottom-container{
    display: flex;
}

.page-bottom-rectangle{
    width: 100%;
    background-color: #BF7631;
}
