*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.font-size-large{
    font-size: large;
}

.font-size-x-large{
    font-size: x-large;
}
.navbar-line{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.navbar{
    float: left;
}

.navbar-format{
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.orange-background{
    background-color: #BF7631;
}

.cara-cara-image-sizer{
    width: 50px;
    padding: 5px;
}

.magnifying-glass-sizer{
    width: 50px;
    padding: 5px;
}

.searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
display: flex;
height: 3px;
width: 1500px;
margin: 20px;
background-color: #000000;
}


.coverphoto-sizer{
    width: 100vh;
    height: 100%;
    padding: 5px;
}

.white-text{
    color: #ffffff;
}

.coverphoto-rectangle{
    width: 100%;
    background-color:#000000
}

.logo-container{
    display: flex;
    align-items: center;
}

.coverphoto-container{
    display: flex;
    justify-content: center;
}

.about-us-image-sizer{
    width: 200px;
    padding: 4px;
}

.about-us-container{
    display: flex;
}

.about-us-inner-container{
    display: flex;
}

.product-image-sizer{
    height: 200px;
    width: 200px;
    padding: 4px;
}

.product-container-1{
    display: flex;
}

.product-container-2{
    display: flex;
}

.product-container-3{
    display: flex;
}

.contact-us-container{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.email-text-area{
    width: 300px;
}

.message-text-area{
    height: 100px;
}

.send-button-sizer{
    width: 50px;
    padding: 0;
    border: none;
}

.page-bottom-container{
    display: flex;
}

.page-bottom-rectangle{
    width: 100%;
    background-color: #BF7631;
}
