*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.font-size-large{
    font-size: large;
}

.font-size-x-large{
    font-size: x-large;
}
.navbar-line{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ffffff;
}

.navbar{
    float: left;
}

.navbar-format{
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.cara-cara-logo{
    background-color: #BF7631;
}

.cara-cara-image-sizer{
    width: 50px;
    padding: 5px;
}

.magnifying-glass-sizer{
    width: 50px;
    padding: 5px;
}

.searchbar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.coverphoto-sizer{
    width: 100vh;
    padding: 5px;
}

.logo-container{
    display: flex;
    align-items: center;
}

.coverphoto-container{
    display: flex;
    justify-content: center;
}